# Data file input
data_file = "../data/students.csv"

# libvirt connection uri
# libvirt_uri = "qemu+ssh://root@implosion.ocf.berkeley.edu/system?keyfile=$HOME/.ssh/id_ed25519&sshauth=privkey&no_verify=1"

# DNSimple Credentials
dnsimple_token   = "dnsimple token"
dnsimple_account = "disimple account id"
